body {
    margin: 0;
    font-family: Arial, Roboto, sans-serif;
}

.header {
    background: #1F2937;
    padding: 10px 280px 90px ;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    padding-top: 15px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #93969d;
}

.description,
  .subtext {
    font-size: 18px;
    color: #93969D;

}

.description {
    width: 425px;
    height: 56px;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}
.title {
    font-size: 48px;
    font-weight: 800px;
    color: #F9FAF8;
    height: 100px;
    width: 400px;
}

.main button {
    background-color: #3882F6;
    color: #F9FAF8;
    height: 30px;
    width: 90px;
    border-radius: 10px;
    border: 2px solid #3882F6;
    font-weight: bold;
}

.bottom img {
    height: 200px;
    width: 450px;
    text-align: center;
}

.subtext img {
    width: 145px;
    height: 145px;
    border: 5px solid #3882F6;
    border-radius: 8px;
}

.info {
    text-align: center;
    font-weight: extra-bold;
    font-size: 36px;
    color: #1F2937;
    margin: 50px;
}

.subtext li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    margin-top: 15px;
    width: 145px;
    height: 100px;
    text-align: center;
}

.subtext {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.subtext > ul {
    gap: 30px;
}