body {
    margin: 0;
    font-family: Arial, Roboto, sans-serif;
}

.header {
    background: #1F2937;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.top {
    display: flex;
    margin-bottom: 90px;
    padding-top: 15px;
    justify-content: center;
    gap: 350px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #93969d;
}

.description,
  .subtext {
    font-size: 18px;
    color: #93969D;

}

.description {
    width: 425px;
    height: 56px;
}

.bottom {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}
.title {
    font-size: 48px;
    font-weight: 800px;
    color: #F9FAF8;
    height: 100px;
    width: 400px;
}

.main button {
    background-color: #3882F6;
    color: #F9FAF8;
    height: 30px;
    width: 90px;
    border-radius: 10px;
    border: 2px solid #3882F6;
    font-weight: bold;
}

.bottom img {
    height: 200px;
    width: 450px;
    text-align: center;
}

.subtext img {
    width: 145px;
    height: 145px;
    border: 5px solid #3882F6;
    border-radius: 8px;
}

.info {
    text-align: center;
    font-weight: extra-bold;
    font-size: 36px;
    color: #1F2937;
    margin: 40px;
}

.subtext li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    margin-top: 15px;
    width: 145px;
    height: 100px;
    text-align: center;
}

.subtext {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.subtext > ul {
    gap: 30px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #d4d7df;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
    color: #35404e;
    font-weight: 200px;
    width: 55%;
    height: 200px;
}

.author {
    font-weight: bold;
    font-size: 20px;
    margin-left: 35%;
}

.action {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.blue-box {
    display: flex;
    box-sizing: border-box;
    background-color: #3882F6;
    width: 60%;
    height: 120px;
    border-radius: 8px;
    padding: 40px;
    justify-content: space-evenly;
}

.small-title {
    font-weight: bold;
    color: #D4D7DF;
    font-size: 20px;
}

.small-text {
    color: #D4D7DF;
}

.action button {
    background-color: #3882F6;
    border: 2px solid #d4d7df;
    border-radius: 8px;
    color: #D4D7DF;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    color: #D4D7DF;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
